<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget_org" value="https://api.nuget.org/v3/index.json" />
    <add key="telerik_com" value="https://nuget.telerik.com/v3/index.json" />
    <add key="ardimedia_com" value="https://pkgs.dev.azure.com/ardimedia/_packaging/am-private/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <telerik_com>
      <add key="Username" value="%TELERIKUSERNAME%" />
      <add key="ClearTextPassword" value="%TELERIKPASSWORD%" />
    </telerik_com>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget_org">
      <package pattern="*" />
      <package pattern="Telerik.*" />
    </packageSource>
    <packageSource key="ardimedia_com">
      <package pattern="Am.*" />
      <package pattern="Amx.*" />
    </packageSource>
    <packageSource key="telerik_com">
      <package pattern="Telerik.*" />
    </packageSource>
  </packageSourceMapping>
  <auditSources>
    <clear />
    <add key="nuget_org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
